/* reset.css */
html {
	margin:0;
	padding:0;
	border:0;
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
}
article, aside, dialog, figure, footer, header, hgroup, nav, section {
	display:block;
}
body {
	line-height:1.5;
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	font-weight:normal;
	float:none !important;
}
table, th, td {
	vertical-align:middle;
}
blockquote:before, blockquote:after, q:before, q:after {
	content:'';
}
blockquote, q {
	quotes:"" "";
}
a img {
	border:none;
}
:focus {
	outline:0;
}
/*...................................*/

body {
	margin:0px;
	padding:0px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#555555;
	background:url(../images/body_bg.jpg) top left repeat;
	height:auto;
}
a {
	color:#485980;
	text-decoration:none;
}
a:hover {
	color:#2bb7b9;
	text-decoration:none;
}
img {
	border:none;
	padding:0px;
	margin:0px;
}
.clear {
	clear:both;
}
.left {
	float:left;
	position:relative;
}
.right {
	float:right;
	position:relative;
}
.wrapper {
	width:1150px;
	height:auto;
	margin: 0px auto;
}
#header {
	width:100%;
	height:108px;
	position:relative;
	float:left;
	margin:0px;
	padding:0px;
	background:url(../images/header.png) top left repeat-x;
}
#headerwrap {
	width:1151px;
	height:auto;
	margin: 0px auto;
}
#header_logo {
	margin:6px 0px 0px 32px;
	padding:0px;
	float:left;
	position:relative;
}
.header_right_info {
	float:right;
	position:relative;
	margin:0px 10px 0px 0px;
	padding:0px;
	width:235px;
}
.header_right_detail {
	float:left;
	position:relative;
	margin:12px 12px 0px 0px;
	padding:0px;
	width:180px;
	text-align:right;
}
.username {
	float:left;
	position:relative;
	padding:0px;
	width:100%;
	text-align:right;
	font-size:14px;
	color:#525e7c;
	font-family:"Arial", Helvetica, sans-serif;
	line-height:17px;
}
.username span {
	color:#181a20;
}
.datetime {
	float:left;
	position:relative;
	padding:0px;
	width:100%;
	text-align:right;
	font-size:12px;
	color:#525e7c;
	font-family:"Arial", Helvetica, sans-serif;
	line-height:18px;
}
.header_right_logout {
	float:left;
	position:relative;
	margin:0px 0px 0px 0px;
	padding:0px;
	width:40px;
}
.header_right_logout input[type=button] {
	float:left;
	position:relative;
	margin:0px;
	padding:0px;
	width:40px;
	background:url(../images/logout_btn.png) top left no-repeat;
	height:62px;
	border:none;
	outline:none;
	cursor:pointer;
}
.mainmenu {
	float:right;
	position:relative;
	margin:9px 0px 0px 0px;
	padding:0px;
}
.mainmenu ul {
	float:right;
	position:relative;
	margin:0px;
	padding:0px;
	display:block;
	list-style-type:none;
}
.mainmenu li {
	float:left;
	position:relative;
	margin:0px 0px 0px 10px;
	padding:0px;
	display:inline;
	list-style-type:none;
}
.mainmenu li a {
	float:left;
	list-style-type:none;
	text-align:center;
	background:url(../images/menu_sprite.jpg) left -87px repeat-x;
	height:71px;
	width:92px;
	padding:16px 0px 0px 0px;
	color:#fff;
	font-size:14px;
	text-decoration:none;
	border-radius:5px 5px 0px 0px;
}
.mainmenu li a span {
	float:left;
	height:39px;
	width:92px;
}
.mainmenu li a:hover, .mainmenu li a.selected {
	background:url(../images/menu_sprite.jpg) top left repeat-x;
}
.main_container {
	float:left;
	background:#fff;
	padding:12px 0px 100px 0px;
	margin:-3px 0px 0px 0px;
	width:100%;
}
.status_bar {
	float:left;
	width:1150px;
	background:#485b84 url(../images/status_bg.jpg) top left repeat-x;
	height:99px;
}
.status_info_block {
	float:left;
	width:auto;
	background:url(../images/status_divider.jpg) top right no-repeat;
	height:99px;


	padding:0px 18px;
	text-align:center;
	color:#b0c8ff;
}
.status_info_block h2 {
	font-size:50px;
	font-weight:bold;
	text-align:center;
	color:#fff;
	margin:18px 0px 9px;
	line-height:40px;
	padding:0px;
}
.create_app_btn {
	float:right;
	position:relative;
	margin:22px 37px 0px 0px;
	padding:0px;
}
.tabular_area {
	float:left;
	position:relative;
	width:1125px;
	padding:18px 12px;
}
.table_block {
	width:552px;
	padding:0px;
	margin:0px;
	border:1px solid #cbd8e2;
}
.table_title {
	float:left;
	position:relative;
	margin:0px;
	padding:0px 0px 0px 18px;
	color:#485980;
	font-size:18px;
	font-weight:bold;
	width:534px;
	height:48px;
	line-height:48px;
	border-bottom:#cbd8e2 1px solid;
	background:#ebeef3 url(../images/table_main_heading.jpg) top left repeat-x;
}
.table_view {
	width:100%;
	margin:0px;
	padding:0px;
	float:left;
	font-size:12px;
	color:#333a4c;
}
.table_view tr th {
	margin:0px;
	padding:0px 0px 0px 18px;
	float:left;
	font-weight:bold;
	background:#f2f4f7 url(../images/tableheading_bg.jpg) top left repeat-x;
	height:29px;
	border-bottom:1px solid #dce7ef;
	border-right:1px solid #dce7ef;
	text-align:left;
}
.table_view tr td {
	margin:0px;
	padding:9px 0px 9px 18px;
	float:left;
	border-bottom:1px solid #dce7ef;
	border-right:1px solid #dce7ef;
}
.table_view tr th.center_alignment, .table_view tr td.center_alignment {
	padding-left:0px;
	padding-right:0px;
	text-align:center;
}
.table_view tr th.right_border_remove, .table_view tr td.right_border_remove {
	border-right:none;
}
.button_styling {
	background:#dbdbdb url(../images/button_bg.jpg) top left repeat-x;
	font-family:"Arial", Helvetica, sans-serif;
	font-size:12px;
	color:#4a4c4d;
	border:1px solid #d1d1d1;
	border-radius:5px;
	line-height:26px;
	text-align:center;
	float:left;
	text-decoration:none;
	padding:0px 19px;
	font-weight:bold;
}
.more_btn {
	float:right;
	margin:6px 10px 6px 0px;
}
#footer {
	width:100%;
	height:58px;
	position:relative;
	float:left;
	margin:0px;
	padding:0px;
	background:#000 url(../images/footer_bg.jpg)  left -2px repeat-x;
	border-top:1px solid #2e3030;
}
#footerwrap {
	width:1151px;
	height:auto;
	margin: 0px auto;
}
.footer_text {
	color:#fff;
	font-size:12px;
	margin:15px 0px 0px 0px;
}
.footer_text a {
	color:#fff;
	text-decoration:none;
}
.footer_text a:hover {
	color:#fff;
	text-decoration:none;
}

.rightbar {
	float:left;
	position:relative;
	margin:0px;
	padding:0px 0px 20px ;
	vertical-align:top;
}
.new_container {
	float:left;
	background:#fff;
	padding:0px 0px 0px 0px;
	margin:-3px 0px 0px 0px;
	width:100%;


}
.rightbar_heading {
	float:left;
	background:#f3f1e9;
	border-top:#ece4c2 1px dashed;
	border-bottom:#ece4c2 1px dashed;
	height:43px;
	line-height:43px;
	font-size:18px;
	color:#485980;
	font-weight:bold;
	width:100%;
	margin:9px 0px 18px;
	text-indent:20px;
}

.rightbar_heading img {
float: left;
line-height: 43px;
margin: 9px -10px 0px 10px;

}
.form_block {
	float:left;
	position:relative;
	margin:0px 0px 0px 30px;
	padding:0px;
	width:430px;
}
.form_block_small {
	float:left;
	position:relative;
	margin:0px 0px 0px 0px;
	padding:0px;
	width:190px;
}
.form_block label, .form_block label.small {
	float:left;
	position:relative;
	margin:0px 0px 7px 0px;
	padding:0px;
	color:#112347;
	font-size:12px;
	font-weight:bold;
}
.form_block label {
	width:430px;
}
.form_block label.small {
	width:187px;
}
.form_block input[type=text], .form_block input[type=password] {
	float:left;
	position:relative;
	margin:0px 0px 10px 0px;
	padding:0px 5px;
	width:360px;
	height:32px;
	line-height:32px;
	outline:none;
	border-radius:5px;
	border:1px solid #a3acc1;
	font:12px/28px Arial, Helvetica, sans-serif;
}
.form_block input[type=file]{
	float:left;
	margin:0px 0px 10px 0px;
}
.form_block select {
	float:left;
	position:relative;
	margin:0px 0px 10px 0px;
	padding:6px;
	width:371px;
	height:35px;
	line-height:35px;
	outline:none;
	border-radius:5px;
	border:1px solid #a3acc1;
}
.form_block textarea {
	float:left;
	position:relative;
	margin:0px 0px 10px 0px;
	padding:0px 5px;
	/*width:360px;
	height:103px;*/
	width:100%;
	height:400px;
	outline:none;
	border-radius:5px;
	border:1px solid #a3acc1;
	font:12px/28px Arial, Helvetica, sans-serif;
}
.form_block input.small[type=text], .form_block input.small[type=password], .form_block select.small {
	width:167px;
}
.form_block input[type=file]{
	float:left;
	margin:0px 0px 10px 0px;
	padding:0px 5px;
}
.form_block_ckedi {
	float:left;
	position:relative;
	margin:0px 0px 0px 30px;
	padding:0px;
	width:828px;
}
.form_block_ckedi .label_full{
	width:100%;
	margin:0px 0px 7px 0px;
	padding:0px;
	color:#112347;
	font-size:12px;
	font-weight:bold;
}
.default_img{
	/*float:left;*/
	padding:5px;
	margin:0 5px;
	/*border:solid 1px #ccc;*/
}

.required{
	color:#f00;
}
/**************  Contact styling  *************/

.checkbox, .radio {
	width: 23px;
	height: 23px;
	padding: 0 5px 0 0;
	background: url(../images/checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
	position:relative;
}
.radio {
	background: url(../images/check_bg.png) no-repeat;
}
.select {
	position: absolute;
	width: 212px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 28px;
	width:361px;
	height:35px;
	padding: 0px 0px 0px 10px;
	font:12px/35px Arial, Helvetica, sans-serif;
	color:#33261f;
	background:url(../images/select-box.png) no-repeat;
	overflow: hidden;
	left:0px;
	top:26px;
}
.customblocks {
	float:left;
	position:relative;
	width:123px;
	color:#485a81;
	font-size:12px;
}
.messages_block {
	float:left;
	position:relative;
	/*width:274px;*/
	height:26px;
	padding:0px 8px 0px 8px;
	line-height:26px;
	border-radius:4px;
	font-size:12px;
	clear:both;
}
.messages_block p{
	float:left;
}
/*.errormsg {
	background:url(../images/error_msg.jpg) top left repeat-x;
	border:1px solid #f15c6b;
	color:#ffffff;
}*/
.errormsg,.errormsg1 {
	background: #F17777 url(../images/erroricon.png) no-repeat 5px 5px;
	border: 1px solid #f15c6b;
	color: #ffffff;
	padding-left: 23px;

}
.errormsg img,.errormsg1 img{
	margin:6px 10px 0px 0px;
	float:left;
}
.sucessmsg {
	background:url(../images/sucessmsg.jpg) top left repeat-x;
	border:1px solid #81c075;
	color:#ffffff;
}
.sucessmsg img {
	margin:6px 10px 0px 0px;
	float:left;
}
.warningmsg {
	background:url(../images/warningmsg.jpg) top left repeat-x;
	border:1px solid #f8dd70;
	color:#4c4d4d;
}
.warningmsg img {
	margin:6px 10px 0px 0px;
	float:left;
}
.infomsg {
	background:url(../images/infomsg.jpg) top left repeat-x;
	border:1px solid #d0d2d7;
	color:#4c4d4d;
}
.infomsg img {
	margin:6px 10px 0px 0px;
	float:left;
}
.bluebtn {
	float:left;
	position:relative;
	margin:0px 20px 0px 0px;
	padding:0px 34px;
	height:36px;
	background:url(../images/bluebtn.png) top left repeat-x;
	border:1px solid #314166;
	line-height:30px;
	border-radius:4px;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
}
.greenbtn {
	float:left;
	position:relative;
	margin:0px 70px 0px 0px;
	padding:0px 34px;
	border-radius:4px;
	height:36px;
	background:url(../images/greenbtn.png) top left repeat-x;
	font-weight:bold;
	border:1px solid #049294;
	line-height:30px;
	color:#fff;
	cursor:pointer;
}

.greenbtn_doc {
	float:left;
	position:relative;
	margin:-46px 8px 0px 0px;
	padding:0px 34px;
	border-radius:4px;
	height:36px;
	background:url(../images/greenbtn.png) top left repeat-x;
	font-weight:bold;
	border:1px solid #049294;
	line-height:30px;
	color:#fff;
	cursor:pointer;
}
/*----Added by Anu for Login page---*/
.login #header_logo {
	display: block;
	margin: 7px auto 0;
	text-align: center;
	width: 100%;
}
.login .main_container {
	background:url(../images/Login-bg.jpg) repeat;
}
.login #footer {
	/*background:url(../images/login-footer.jpg) repeat;*/
}
#login {
	background-color: #fff;
	height: auto;
	width: 476px;
	margin: 89px auto;
	padding:0px;
	z-index: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 17px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0 0 17px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow:0 0 17px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2);
}
/*--------------------*/
.login_heading {
	background: url("../images/login-header.jpg") repeat-x scroll left center transparent;
	border: 1px solid #3D4B6A;
	margin-bottom: 40px;
}
h1 {
	background: url("../images/locked.png") no-repeat scroll left center transparent;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	height: 25px;
	line-height: 28px;
	margin-left: 10px;
	padding: 12px 24px;
	text-transform: capitalize;
}
/*--------------------*/
fieldset {
	border: 0 none;
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 0 50px;
	text-align: center;
	width: 79%;
}/*--------------------*/
#inputs input {
	background: url("../images/input_bg.png") no-repeat scroll left center transparent;
	border: 1px solid #cbd8e2;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 12px #F7F7F7 inset, 0 0 0 #FFFFFF;
	height: 40px;
	margin: 19px 0 5px;
	width: 365px;
}
#inputs input:first-child {
	margin:0px;
}
#username {
	padding: 0 0 0 8px;
!important;
}
#password {
	padding: 0 0 0 8px;
!important;
}
#inputs input:focus {
	background-color: #fff;
	border: 1px solid #cbd8e2;	border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 0 1px #cbd8e2 inset;
	-webkit-box-shadow: 0 0 0 1px cbd8e21 inset;
	box-shadow: 0 0 0 1px #cbd8e2 inset;
}
.remember_me {
	float:left;
}
.remember_me input {
	float:left;
	
}
.remember_me input[type="checkbox"] { background: url(../images/checkbox.png) no-repeat;}
/*--------------------*/

.submit {
	margin:20px 0 0 0;
}
/*--------Added By Anju------------*/
.submit_btn{
	width:186px;
	height:45px;
	background:url(../images/submit_button.png) no-repeat;
	cursor:pointer;
	text-indent:-9999px;
	border:none;
	margin:20px auto;
}
#actions a {
	color: #7c7c7c;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	float: right;
	line-height: 21px;
	margin-left: 10px;
}

/*--------------------*/
.table_block_right {
	float:left;
	width:98%;
	padding:0px;
	margin:0px 10px;
	border:1px solid #cbd8e2;
	border-bottom:none;
}
/*--------------------*/
.login_btn{
	width:186px;
	height:45px;
	background:url(../images/login_button.png) no-repeat;
	cursor:pointer;
	text-indent:-9999px;
	border:none;
	margin:20px auto;
}
.right_msgs{ float: right; margin: -55px 10px 10px; }
.right_msgs_header{ float: right; margin: -55px 157px 10px; }
.right_msgs_salesperson{ float: right; margin: -55px 302px 10px; }
/**** Added for pagination ****/
#example_paginate{
	float:right;
	position:relative;
	margin:0px;
	padding:0px;
	}
	
#example_paginate ul{
	float:left;
	position:relative;
	margin:10px 20px 10px 0px;
	padding:0px;
	list-style-type:none;
	cursor:pointer;
	}
	
#example_paginate li{
	float:left;
	position:relative;
	margin:0px;
	padding:0px;
	list-style-type:none;
	}
	
#example_paginate a,
#example_paginate a,
.paging_full_numbers .ui-button a{
	float:left;
	position:relative;
	margin:0px 5px 0px 5px;
	padding:0px 12px;
	background:#2c4278 url(../images/pagination_blue.png) top left repeat-x !important;
	height:26px;
	line-height:26px;
	color:#fff !important;
	font-size:12px;
	text-shadow:1px 2px solid;
	border-radius:4px;
	}
	
#example_paginate a:hover,
#example_paginate a.selected,
#example_paginate span a:hover{
	background:#0da4a7 url(../images/pagination_green.png) top left repeat-x !important;
	border:1px solid #049294;
	padding:0px 12px;
	}
	
	
/************** Skin 2 *********************/
.select_name_input{
	width:323px;
	height:auto;
	border:none;
	padding:0px;
	margin:3px 0px 0px 0px;
	outline:none;
	color:#767a7c;
	font-size:12px;
	float:right;
	position:relative;
	}
	
.dd2 .ddTitle {
	background:url(../images/drop-back.jpg) repeat-x;
	padding:0 3px 0px 6px;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	height:45px;
	border:none;
	width:320px;
	color:#fff;
	font-weight:bold;
	font-size:18px;
	border-radius:2px;
	text-shadow:#124c4d 1px 2px;
}
.dd2 .ddTitle span.arrow {
	background:transparent url(../images/arrow.png) no-repeat 0 0; 
	float:right; 
	display:inline-block;
	width:27px; 
	height:27px; 
	cursor:pointer; 
	top:8px; 
	position:relative; 
	right:10px;
	}

.dd2 .ddTitle span.ddTitleText {
	text-indent:1px; 
	overflow:hidden; 
	position:relative; 
	line-height:45px;
	padding:5px 0px 0px 3px;
	}
	
.dd2 .ddChild {
	position:absolute;
	border:1px solid #e0e0e0;
	border-top:none;
	display:none;
	margin:0;
	width:326px !important;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#fff;
	font-size:14px;
	top:45px !important;
	left:0px;
	background:#fefefe;

	}

.dd2 .ddChild a {
	display:block;
	padding:10px 0 10px 5px;
	text-decoration:none;
	color:#4A4A4A;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	}

.dd2 .ddChild a:hover,
.dd2 .ddChild a.selected {
	background-color:#f5f5f5;
}

.drag_note{
	float:right;
	position:relative;
	margin:0px 53px 0px 0px;
	color:#485a81;
	font-weight:normal;
	font-size:12px;
	}

.drag_note img{
	margin:13px -10px 0px 0px;
	}
	
.drag_box{
	width:540px;
	padding:0px;
	margin:10px;
	border:1px solid #cbd8e2;
}

.drag_box_core{
	width:1128px;
	padding:0px;
	margin:10px 10px;
	border:1px solid #cbd8e2;
}
.drag_box_core .rightbar_heading, .drag_box  .rightbar_heading{
	margin-top:0;
}

#slideOut {
	position:relative;
	width:auto;
	float:left;
	overflow:hidden;
}
#slideClick{
	/*float:right;*/
	right:-24px;
	top:12px;
    height:37px;
    width:38px;
	position:absolute;
	/*margin:150px 0px 0px -18px;	*/
	z-index:1000;
	background:url(../images/sidebar_arrow.png) left 0px no-repeat;
	cursor:pointer;
}
#slideClick2{
	float:left;
	position:relative;
}

#slideClick.closed{
	z-index:10;
	background:url(../images/sidebar_arrow.png) left -37px no-repeat;
}

#slideContent {
	width:210px;
	}
ul#menu1 li ul li a {
text-indent:20px;

}
#sidebar {
	float:left;
	position:relative;
	margin:0px;
	padding:0px;
	background:url(../images/sidebarbg.jpg) 0px 1px repeat;
	/*height:600px;*/
	width:210px;
	vertical-align:top;
	border-right:10px solid #293b61;

}

#sidebar ul {
	float:left;
	position:relative;
	margin:0px;
	padding:0px;
	height:auto;
	width:210px;
	/*width:100%;*/
	list-style:none;
	color:#fff;
	display:block;
	overflow:hidden;
}
#sidebar ul li {
	float:left;
	position:relative;
	margin:0px;
	padding:0px;
	background:url(../images/sidebarlink_divider.jpg) 0px 36px repeat-x;
	min-height:38px;
	/*width:210px;*/
	width:100%;
	list-style:none;
	color:#fff;
	display:block;
}
#sidebar ul li a {
	float:left;
	position:relative;
	margin:0px;
	padding:0px;
	height:36px;
	/*width:210px;*/
	width:100%;
	color:#fff;
	line-height:36px;
	cursor: pointer;
}
#sidebar ul li ul li a{
padding-left:28px;
background:#2f426c;
font-size:12px;
width:92%;
}
#sidebar ul li a img {
	margin:10px 15px 0px;
	float:left;
}
#sidebar ul li a:hover {
	background:url(../images/sidebar_linkbg.jpg) top left repeat-x;
}


.sidebar_selected
{
	background:url(../images/sidebar_linkbg.jpg) top left repeat-x;
}


.pagination{
	float:right;
	position:relative;
	margin:0px;
	padding:0px;
	}
	
.pagination ul{
	float:left;
	position:relative;
	margin:10px 20px 10px 0px;
	padding:0px;
	list-style-type:none;
	}
	
.pagination li{
	float:left;
	position:relative;
	margin:0px;
	padding:0px;
	list-style-type:none;
	}
	
.pagination li a{
	float:left;
	position:relative;
	margin:0px 5px 0px 5px;
	padding:0px 12px;
	background:#2c4278 url(../images/pagination_blue.png) top left repeat-x;
	height:26px;
	line-height:26px;
	color:#fff;
	font-size:12px;
	text-shadow:1px 2px solid;
	border-radius:4px;
	}
	
.pagination li a:hover,
.pagination li a.selected{
	background:#0da4a7 url(../images/pagination_green.png) top left repeat-x;
	border:1px solid #049294;
	padding:0px 11px;
	}
.dash_successmsg
{
 	border-radius: 3px 3px 3px 3px;
    padding: 3px 5px;
}
.add_button_heading{
	float:right;
	width:137px;
	margin:5px 10px 0 0;
}
.add_button_heading a{
	float:right;
	width:137px;
	text-align:center;
	height:33px;
	font:bold 14px/33px Arial, Helvetica, sans-serif;
	background:url(../images/add-button.png) no-repeat;
	color:#fff;
	text-indent:0;
}

/****************************************/
.add_boxes{
	background:#f9f9f9;
	float: left;
	padding:10px 0;
	margin-left: 10px;
	width:98%;
	border:solid 1px #f0f0f0;
}
.add_boxes .form_block{
	width:400px;
}

.remove_btn {
	float:right;
	position:relative;
	margin:15px 20px;
	padding:0px 15px;
	height:28px;
	background:url(../images/bluebtn.png) top left repeat-x;
	border:1px solid #314166;
	line-height:24px;
	border-radius:4px;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
}
.add_btn {
	float:right;
	position:relative;
	margin:15px 20px;
	padding:0px 15px;
	border-radius:4px;
	height:28px;
	background:url(../images/greenbtn.png) top left repeat-x;
	font-weight:bold;
	border:1px solid #049294;
	line-height:24px;
	color:#fff;
	cursor:pointer;
}


/************Select Icon**************/
.add_button_heading{
	float:right;
	width:137px;
	margin:5px 10px 0 0;
}
.add_button_heading a{
	float:right;
	width:137px;
	text-align:center;
	height:33px;
	font:bold 14px/33px Arial, Helvetica, sans-serif;
	background:url(../images/add-button.png) no-repeat;
	color:#fff;
	text-indent:0;
}
.exmpl{
	color:#999;
}

/************Select Icon**************/
.selectIcon
{
	 height:50px;
	 width:50px; 
	 float:left; 
	 text-align:center; 
	 padding:5px;
}

#window_synchronizes {
	width:800px;
	margin: 0 auto;
	padding-left:10px;
	padding-top:10px;
	border: 3px solid #ccc;
	background: #ffffff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	position: fixed;
	top: 13%;
	left: 26%;
	line-height:15px;
	text-align:left;
	z-index:9999;
}

#popup_synchronizes {
	height: 100%;
	width: 100%;
	background: #000000;
	position:fixed;
	top: 0;
	left:0;
	-moz-opacity:0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
	filter:alpha(opacity=40);
	z-index:550;
}
 #output{ float: left;
width: 800px;
height: 370px;
overflow: scroll;
}
/************Select Icon**************/



	
/**************User profile **********/


.userlogo{
	float:left;
	position:relative;
	display:block;
	border:6px solid #f2f2f2;
	margin:0px 8px 0px 0px;
	}
	
.userdetailpanel{
	float:left;
	position:relative;
	display:block;
	width:725px;
	}
	
.right_content_box{
	float:left;
	margin:0px 0px 0px 20px;
	}

.merchant_name{
	float:left;
	position:relative;
	font-size:20px;
	font-weight:bold;
	color:#0ca4a6;
	margin:0px 0px 10px 0px;
	}
	
.merchant_name span{
	font-size:20px;
	font-weight:bold;
	color:#293b61;
	}
	
.profile_row{
	float:left;
	position:relative;
	margin:0px;
	width:100%;
	border-top:1px dashed #dfdddd;
	padding:5px 0px;
	}
	
.profile_cell{
	float:left;
	position:relative;
	margin:0px;
	width:50%;
	font-size:14px;
	}
	
.cell_title{
	color:#6a6a6b;	
	text-align:right;
	width:132px;
	float:left;
	position:relative;
	margin:0px 20px 0px 0px;
	}
	
.cell_value{
	color:#293b61;	
	text-align:left;
	width:170px;
	float:left;
	position:relative;
	}
	
.description_title{
	color:#6a6a6b;	
	float:left;
	position:relative;
	margin:5px 0px 5px 0px;
	}
	
.description_value{
	color:#293b61;	
	text-align:left;
	float:left;
	position:relative;
	margin:5px 0px 5px 0px;
	width:320px;
	}
.drag_boxes li{
	background:#485980;
	width:100px !important;
	height:100px !important;
	color:#fff !important;
	border-radius:10px;
}
.drag_boxes_big li{
	background:#485980;
	width:150px !important;
	height:150px !important;
	color:#fff !important;
	border-radius:10px;
}
.img_drg{
	width:90px;
	height:70px;
	overflow:hidden;
	margin:0 5px;
}
.img_drg_big{
	width:90px;
	height:70px;
	overflow:hidden;
	margin:10px 29px;
}
.published_txt{
	color:#fff;
	font-size:12px;
	line-height:24px;
}
.drag_title_big{
	padding-top: 12px;
float: left;
width: 100%;
height:80px;
}

.drag_title{
	padding-top: 12px;
float: left;
width: 100%;
}
.drag_subtitle{
	line-height:10px;
}
.layout_select{
	float:left; width:100%;
}
.layout{float:left; border:solid 1px #ccc; padding:5px; margin:0 10px 0 30px; text-align:center; }
.layout img{float:left; clear:both;}
.layout input[type=radio]{margin: 5px 0px;
clear: both;
width: 100%;
padding: 0px;
float: left; }
.layout_select .txt{float:left; width:250px; padding:5px; margin:0 10px 0 30px; text-align:center;}